{% extends 'home/base.html' %}
{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Fertilizer - Shop</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    {% endblock head %}
</head>
<body>
    {% block content %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2 class="m-0 font-weight-bold" style="color:orange;" align="Center">Fertilizers Available</h2>
            </div>
            <div class="card-body text-center">
                {% for fertilizer_d in fertilizer %}
                    <h2><div class="fig-author-figure-title" align="center"><b>{{fertilizer_d.name}}</b></div></h2>
                    <hr color="black" width="70%"/>
                    <h5><div class="fig-author-figure-title" align="center" > Rs. {{ fertilizer_d.price }} (Unit in Rs./50 kg bag)</b></div></h5>
                    <hr color="black" width="70%"/>
                    <button onclick="justbuy();" style="padding-top:10px; " class="btn btn-success btn-block"> Location </button>
                    <hr color="orange" width="100%"/>
                {% endfor %} 
            </div>
        </div>
        <script>
            function justbuy()
            {
                // alert("Hieeee");
                swal('Location','Bangalore','success');
                
            }
        </script>
    {% endblock content %}
</body>
</html>