<div class="container-fluid" align="center">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" align="center">Enter New Data </h1>
        <br>
        <!-- <p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme. The charts below have been customized - for further customization options, please visit the <a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.</p> -->

        <!-- Content Row -->
        <!-- <div class="row"> -->

           <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
            <div class="card" align="center">
              <br>
           <!--  <form action="'predresno2-home'" method="post"> -->
              <h5>Average Rainfall : </h5><input type="text" style="margin:auto; padding:5px 5px; border:2px solid green; border-radius:9px;"placeholder="Enter Your Name : " name="name" required>
              <br>
                 <h5>Average Temperature :</h5> <input type="text" style="margin:auto; padding:5px 5px; border:2px solid green; border-radius:9px;" placeholder="Enter your Mobile Number" name="no" required>
                <br>
                <h5>Soil Type:</h5><input type="text" style="margin:auto; padding:5px 5px; border:2px solid green; border-radius:9px;" name="title" required>
                <hr>
                <button style="margin:auto; padding:5px 5px;" class="btn btn-success btn-lg">Submit</button>
                <hr>
              <!-- </form> -->
            </div>
          </div>
         </div>