{% extends "home/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AgriCrop - RainFall</title>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    
    function number_format(number, decimals, dec_point, thousands_sep) {
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + '').replace(',', '').replace(' ', '');
      var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
          var k = Math.pow(10, prec);
          return '' + Math.round(n * k) / k;
        };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return s.join(dec);
    }
    
    // Area Chart Example
        
    </script>
  </head>
  <body id="page-top">
    {% block content %}  
      
    <!-- Begin Page Content -->
      <div class="container-fluid" align="center">
        
        <!-- Content Row -->
        <div class="row">
          <div class="col-xl-8 col-lg-7">
            
            <!-- Area Chart -->
            <div id="container">
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                <script src="https://code.highcharts.com/modules/export-data.js"></script>
                
                <div id="container" style="min-width: 200px; height: 400px; margin: 0 auto"></div>
                
            <script>
              Highcharts.chart('container', {
                              chart: {
                                  type: 'line'
                              },
                              title: {
                                  text: 'Rainfall(mm)'
                              },
                              xAxis: {
                                  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                              },
                              series: [ {
                                  name: 'Mumbai',
                                  data: {{data}}
                              }]
                          });
            
          
            </script>
          </div>
            <!-- Area Chart Ends Here -->  
          <div>
                  <h6><b>Annual Average : </b> 
                    {% if rainavg > 160 %}
                  <button class="btn btn-info btn-sm">High</button>
                      {% endif %}
                      {% if rainavg < 160 and rainavg > 140  %}
                  <button class="btn btn-success btn-sm">Medium</button>
                      {% endif %}
                      {% if rainavg < 140 %}
                  <button class="btn btn-danger btn-sm">Low</button>
                      {% endif %}
                  </h6>
                </div>
          </div> 
          
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

    {% endblock %}
  </body>
</html>
