{% extends "home/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AgriCrop - RainFall</title>
  </head>
  <body id="page-top">
    {% block content %}  
      <!-- Begin Page Content -->
      <div class="container-fluid" align="center">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">RainFall</h1>
        <!-- <p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme. The charts below have been customized - for further customization options, please visit the <a target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.</p> -->

          <!-- Content Row 
          <div class="row">-->

            <div class="col-xl-8 col-lg-7">

              <!-- Area Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary" align="Center">Rainfall Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                  <hr>
                  <!-- Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file. -->
                  <div>
                  <h6><b>Annual Average :</b> 
                  <button class="btn btn-info btn-sm">High</button>
                  <button class="btn btn-success btn-sm">Medium</button>
                  <button class="btn btn-danger btn-sm">Low</button>
                  </h6>
                </div>
                <div>
                  <h6><b>Year Result :</b> 
                  <button class="btn btn-success btn-sm">Good</button>
                  <button class="btn btn-danger btn-sm">Bad</button>
                  </h6>
                </div> 
                </div>
              </div>
            </div>

        </div>
        <!-- /.container-fluid -->

      <!-- </div> -->
      <!-- End of Main Content -->

    {% endblock %}
  </body>
</html>
